<%= render 'layouts/section', title: "服務條款及隱私權條款" %>

<section id="content">
  <div class="container"> 
    <%= render 'layouts/flash' %>
    <h3 class="red">服務條款</h3>
    <p>當您使用本RSVPO（http://rsvpo.me，以下簡稱本網站）的服務時，即視為已瞭解並同意接受本服務條款之所有內容及相關公告規定。如不同意本網站使用條款之全部或部分者，請勿填寫基本資料及完成後續預約流程或使用本網站服務。此外，本網站保留於任何時間點，不經通知隨時修改或暫時或永久停止繼續提供本服務的權利。本網站可能因廣告或其他合作促銷活動而包含其他網站連結，您點選該連結至其他網站，即不適用本網站使用條款及隱私權政策之規範。您需自行判斷各該網站相關條款對您的權益保障是否足夠，再決定是否使用該網站服務。</p>

    <h5 class="grey">您的註冊義務</h5>

    <p>會員註冊時需提供正確、最新及完整的資料，若提供任何錯誤、不實或不完整的資料，本網站有權暫停或終止帳號，若是帳號長時間沒有使用，本網站也保留關閉帳號的權利。此外，建立的帳號或暱稱中，若有不雅、侵害他人權益等不符網路道德與相關法令的文字，本網站有權請求使用者修改或關閉帳號。</p>

    <h5 class="grey">會員帳號、密碼及安全</h5>

    <p>使用者在註冊完成後，請妥善保存帳號和密碼，並請於每次使用後確實登出帳號以避免遭盜用。若帳號或密碼遭到盜用或有其他任何安全問題發生時，請立即通知本網站，本網站將儘速協助解決，但不負相關的賠償或補償之責任或義務。</p>

    <h5 class="grey">隱私權政策</h5>

    <p>會員的註冊以及其他特定資料將依照本網站的「隱私權政策」受到保護與規範。使用者同意本網站依據「隱私權政策」進行您個人資料的蒐集與利用，包括跨國間的傳輸與儲存及本網站及其關係企業內部之利用。下列情況下，本公司有可能會將您於本網站的個人資料給相關機關，或主張其權利受侵害並提示司法機關正式文件之第三人：</p>
      <ol>
        <li>依法令或受檢警調、司法機關或其他有權機關基於法定程序之要求;</li>
        <li>在緊急情況下為維護其他客戶或第三人之合法權益</li>
        <li>為維護本網站的正常運作;</li>
        <li>為提供本公司相關服務產生的金流、物流或其他合作廠商之必要資訊;</li>
        <li>使用者有違反任何政府法令或本網站使用條款之情形;</li>
      </ol>
    
    <h5 class="grey">交易注意事項</h5>

    <ol>

    <li>您得依據本網站所提供的確認商品數量與價格進行下單，您對下單內容付款後便視為交易成立。</li>

    <li>本網站得就特定商品訂定個別消費者每次訂購的數量上限，逾越該數量上限進行下單或同一消費者以複數帳號重複，多次下單時，本網站僅負對單一消費者依該數量上限出貨之責任。</li>

    <li>本網站僅為提供您瀏覽商品服務之平台，並不以任何方式（直接或間接地、獨立地或與任何部分有關連）擁有、管理、運營或控制這些合作廠商的商品，您訂購的商品若有瑕疵、保證、服務事項等相關問題之時，請逕洽合作廠商解決相關爭議，本網站不介入您與合作廠商間之買賣關係，亦不為合作廠商為任何履約之保證。</li>

    </ol>

    <h5 class="grey">違約處理</h5>

    <p>為維護本網站全體使用者與合作廠商的權益，若您有下列情形之一發生者，本公司得暫停或終止您的購物資格或拒絕您使用本網站全部或部分服務：</p>

    <ol>

    <li>提供錯誤或不實資料進行登錄。</li>

    <li>盜刷信用卡或其他盜用金融帳號情形。</li>

    <li>經本公司認定有惡意解約退貨之情事。</li>

    <li>對本公司客服部門為騷擾或不當言行。</li>

    <li>其他違反本網站使用條款或違法之情事。</li>

    </ol>

    <p>您同意本公司依本網站使用條款暫停或終止您的購物資格，或拒絕您使用本網站全部或部分服務時，均無須得到您的同意，且本公司對您或任何第三人均不負任何義務或責任。</p>

    <h5 class="grey">使用者的守法義務及承諾</h5>

    <p>您需遵守不為任何非法目的或方式使用本網站，並遵守相關法規及網際網路之國際慣例，不得從事侵害他人權益或違法之下屬行為：</p>

    <ol>

    <li>上載、張貼、公佈或傳送侵害他人權益、違反公共秩序或善良風俗或其他不法之內容。</li>

    <li>上載、張貼、傳輸或散佈任何含有電腦病毒或任何對電腦軟、硬體產生中斷、破壞或限制功能之程式碼之資料。</li>

    <li>從事不法交易行為或張貼虛假不實、引人犯罪之訊息。</li>

    <li>其他本網站有正當理由認為不適當之行為。</li>

    </ol>

    <h5 class="grey">智慧財產權的保護</h5>

    <p>智慧財產權的保護 本網站所使用之軟體、程式或內容，均由本網站或其他權利人依法擁有其智慧財產權，任何人不得於未經權利人之事前同意而為使用，若欲引用或轉載，除明確為法律所許可者外，必須依法取得本網站或其他權利人的事前書面同意。</p>

    <h5 class="grey">商業利用的規範</h5>

    <p>使用者對於本網站上之服務，包括：會員內容、廣告、軟體及本網站帳號等的使用或存取，均不得進行重製、拷貝、出售、交易、轉售或作任何商業目的之使用。</p>

    <h5 class="grey">會員行為</h5>

    <p>本網站所提供的分享機制、留言版或討論等服務，僅供註冊成功之會員主動傳播訊息、發表自己的旅遊經驗分享或議題的觀點及其他言論。這些內容並不代表本網站的立場，本網站對於使用者的言論不負責任，亦不擔保各使用者提供之屬名其資訊或之真實性。由使用者公開張貼或私下傳送的資訊，均由提供者自負責任，而本網站有權依其自行之考量，將有違反本服務條款或法令之虞、或令人厭惡之任何資訊加以移除。</p>

    <h5 class="grey">補償</h5>

    <ol>

    <li>使用本網站，與本網站連線，違反本網站條款，或侵害其他人任何權利所衍生或導致任何第三人為請求或主張時，使用者同意使本網站及其子公司、關係企業、經理人、代理人、受僱人、合夥人及授權人免於任何損害。</li>

    <li>若本網站依法或依約須對您負擔賠償或補償責任時，本網站之賠償或補償責任以有爭議之該筆交易之實收金額為上限，本網站對於任何因該筆交易所生之其他損害（包含但不限於間接損失），不負任何補償或賠償責任。</li>

    </ol>

    <h5 class="grey">通知</h5>

    <p>如依法或其他相關規定須為通知時，本網站得以但不限於：電子郵件、簡訊、多媒體簡訊、文字訊息、張貼於本網站網頁，或其他現在或未來合理之方式通知您，包括本網站服務條款之變更。但若您違反本網站服務條款，以未經授權的方式存取本網站，您將不會收到前述通知。當您經由授權的方式存取本網站，而同意本網站服務條款時，您即同意本網站所為之任何及所有給您的通知，都視為送達。</p>

    <h5 class="grey">資訊或建議</h5>

    <p>本網站對於您使用本網站服務或經由本網站服務連結之其他網站而取得之資訊或建議，基於尊重內容提供者之智慧財產權，本網站對其所提供之內容並不做實質之審查或修改，對該等內容亦不擔保其為完全正確無誤，您在做出任何相關規劃與決定之前，仍應請教專業人員，以符合個別需求。若認為某些內容涉及侵權或有所不實，請逕向該內容提供者反應意見。</p>

    <h5 class="grey">系統中斷或故障</h5>

    <p>使用者於使用本網站時宜自行採取防護與儲存措施。若本網站因中斷或故障對於您造成之不便，致以萬分歉意，惟，本網站不負任何賠償責任。</p>

    <h5 class="grey">一般條款</h5>

    <p>本網站服務條款之解釋與適用，以及與本網站服務條款有關的爭議，除法律另有規定者外，均應依照中華民國法律予以處理，並以台灣台北地方法院為第一審管轄法院。</p>

    <h3 class="red">隱私權條款</h3>

    <p>本網站十分重視您的隱私權保護，將依個人資料保護法及本隱私全政策蒐集、處理及利用您的個人資料，並提供您對個人資料權利之行使與保護。如您不同意本隱私權政策之全部或部分者，請您停止使用本網站服務。</p>

    <h5 class="grey">資料的蒐集與使用方式</h5>

    <p>在使用者使用本網站服務時，伺服器將會有相關記錄，包括IP位址、使用時間、瀏覽及點選資料記錄等，此記錄為內部應用，不會對外公佈。此外，除非取得使用者同意或其他法令之特別規定，本網站絕不會個人資料揭露於第三人。</p>

    <h5 class="grey">資料之保護</h5>

    <p>本網站主機設有防火牆、防毒系統等相關的各項資訊安全設備及必要的安全防護措施，加以保護網站及您的個人資料。採用嚴格的保護措施，只由經過授權的人員才能接觸您的個人資料。如因業務需要有必要委託本會相關單位提供服務時，本網站亦會嚴格要求其遵守保密義務。

    <h5 class="grey">網站對外的相關連結</h5>

    <p>本網站的網頁提供其他網站的網路連結，您也可經由本網站所提供的連結，點選進入其他網站。但該連結網站中不適用於本網站的隱私權保護政策，您必須參考該連結網站中的隱私權保護政策。

    <h5 class="grey">Cookie 之使用</h5>

    <p>關於 Cookie 的設定，若使用者不願接受 Cookie 的寫入，可在使用的瀏覽器功能項中設定隱私權等級為高，即可拒絕 Cookie 的寫入，但可能會導致本網站某些功能無法正常執行。

    <h5 class="grey">網頁記錄隱私權聲明</h5>

    <p>網頁記錄隱私權聲明 「網頁記錄」的資訊會傳送到本網站伺服器上，並與使用者「本網站帳戶」資訊儲存在一起，依據這些搜尋記錄中的資訊，本網站將可改善使用者的使用經驗，這些記錄除前述之法律要求或規定外，並不會透露此資訊給其他公司或個人。</p>

    <h5 class="grey">RSVPO 預約活動</h5>

    <p>如果使用者要參加本網站或合作廠商所舉行的宣傳活動，可能會要求填寫姓名、地址等個人資料，而這些資料可能會和合作廠商共同分享。此外，我們會於活動辦法中說明分享個人資料之隱私權政策。</p>

    <h5 class="grey">個人資料蒐集，處理及利用說明</h5>

    <p>本公司可能透過 Facebook 或類似社群服務系統，於取得您的同意後，將部分本網站的資訊發佈於您的社群活動資訊頁面，若您不同意該等訊息之發佈，請您勿點選同意鍵，或於事後透過各該社群服務之會員機制移除該等資訊，或拒絕本網站繼續發佈相關訊息。若有問題，仍可與本公司聯絡，本公司將協助您確認，處理相關問題。 除依法應提供司法，檢調機關，相關主管機關，或與本公司合作廠商為執行相關活動必要範圍之利用外，本公司將不會任意將您的個人資料提供予第三人。 當本公司或本網站被其他第三者購併或收購資產，導致經營權轉換時，本公司會於事前將相關細節公告於本網站，且本公司所擁有之全部或部分使用者資訊亦可能在經營權轉換的狀況下移轉給第三人。</p>

    <h5 class="grey">保密與安全性</h5>

    <p>本公司之員工，僅於其為您提供產品或服務之需求範圍內，對於您的個人資料得為有限之接觸。 為了保護您的帳戶及個人資料的安全，請您不要任意將個人帳號，密碼提供予第三人或允許第三人以您的個人資料申請帳號密碼，否則相關責任由您自行承擔。若您的帳號密碼有外洩之虞，請您立即更改密碼，或通知本公司暫停該帳號 (本公司可能會要求核對您的個人資料)。 網際網路並不是一個安全的資料傳輸環境，請您在使用本網站時，避免將敏感的個人資料提供予他人或在網路上公開揭露。</p>

    <h5 class="grey">隱私權政策之修改</h5>

    <p>隱私權政策如經修改，本公司將以您所提供之電子郵件通知您相關之重大變更，或於本網站或本公司部落格公告。若您不同意該等變更或修改，請停止繼續使用本網站服務，並依本隱私權政策規定通知本公司停止搜集，處理及利用您的個人資料。</p>
  </div>
</section>