<% slot = Slot.find(params[:slot]) %>
<%= render 'layouts/section', title: "RSVP到" + slot.activity.title %>

<section id="content">
  <div class="container">
    <%= render 'form', slot: slot %>
  </div>
</section>

