// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bookings_show {
  p {
    font-size: 17px !important;
    line-height: 27px !important;
  }
  #name-wrapper {
    display: none;
  }
  .booking-info {
    margin: 20px 5% 50px 5%;
  }
  .btn-wrap {
    margin: 50px;
  }
  .invoice-terms {
    margin-bottom: 50px;
    text-align: right;
  }
  .map-wrap {
    margin-top: 40px;
  }
}