.merchants_show {
  #blue-container {
    padding-bottom: 30px !important;
    .fa-envelope-o {
      margin-left: 15px !important;
    }
    .fa {
      width: 40px;
    }
    h3 {
      margin-top: 0px !important;
      margin-bottom: 30px !important;
    }
    .wrapper {
      height: 40px;
    }
    .big-title {
      font-size: 19px !important;
      margin-top: 40px !important;
      font-weight: bold !important;
    }
  }
} 