.search_index {
  .panel-title {
    .dropdown-menu {
      width: 95px !important;
      margin-top: 10px !important;
    }
  }
  .background-wrapper {
    background-size: cover;
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 56px;
    height: 300px;
    padding-top: 55px;
  }
  #content {
    padding-top: 0px !important;
  }
  #topsearch {
    background-color: rgba(255, 255, 255, 0.5);
    top: 276px;
    display: block;
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    .dropdown-menu {
      width: 120px;
    }
    form {
      display: inline-block !important;
      width: 50%;
      margin-bottom: 0px;
      input {
        margin-bottom: 0px !important;
        margin-top: 1px;
      }
    }
    .right {
      display: inline-block !important;
      float: right;
    }
  }
  .category-btn {
    font-size: 32px !important;
    width: 220px;
    padding: 20px !important;
  }
  .category-dropdown-menu {
    width: 100%;
    font-size: 20px !important;
  }
  .paginate-wrap {
    display: none;
  }
  input {
    background-color: #edefed;
    font-size: 16px;
    font-weight: bold;
  }
}
