<div class="container">
  <% if activity.active %>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">       
        <div class="portlet portlet-green">
            <div class="portlet-heading">
              <div class="portlet-title">
                <h4>點擊你想預約的時段</h4>
              </div>
              <div class="clearfix"></div>
            </div>
            <div id="defaultPortlet" class="panel-collapse collapse in">
              <div class="portlet-body">
                <div class="calendar-wrapper">
                  <div id='calendar'></div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  <% else %>
  <% end %>
</div>