<% if activity.active %>  
  <div class="portlet portlet-pink">
    <div class="portlet-heading">
      <div class="portlet-title">
        <h4>請點擊你想RSVP的時段</h4>
      </div>
      <div class="clearfix"></div>
    </div>
    <div id="defaultPortlet" class="panel-collapse collapse in">
      <div class="portlet-body">
        <div class="calendar-wrapper">
          <div id='calendar'></div>
        </div>
      </div>
    </div>
  </div>
<% end %>