<div class="categories text-center">
  <%= render 'categories', categories: @categories %>
</div>

<%= render 'navigation' %>
<div class="container">
  <div class="row">
    <div class="activities-wrapper">
      <%= render 'activities', activities: @activities %>
    </div>
  </div>
  <div class="paginate-wrap text-center">
    <%= render 'infinity', activities: @activities %>
  </div>
</div>

<script>
  $(window).scroll(function() {
    var url;
    url = $('.pagination .next_page a').attr('href');
    if (url && $(window).scrollTop() >= $(document).height() - $(window).height()) {
      $('.pagination').text(" Loading");
      return $.getScript(url);
    }
  });

  $(window).scroll();
</script>