<%= render 'layouts/section', title: "nav" %>

<section id="content">
  <div class="container">

    <div class="row margin-30">
      <div class="col-md-12">
        <%= render 'navigation' %>
      </div>
    </div>

    <div class="row">
      <div class="activities-wrapper">
        <%= render 'layouts/activities', activities: @activities %>
      </div>
    </div>
    <div class="paginate-wrap text-center">
      <%= render 'infinity', activities: @activities %>
    </div>

  </div>
</section>

<script>
  $(window).scroll(function() {
    var url;
    url = $('.pagination .next_page a').attr('href');
    if (url && $(window).scrollTop() >= $(document).height() - $(window).height()) {
      $('.pagination').text(" Loading");
      return $.getScript(url);
    }
  });

  $(window).scroll();
</script>