<!-- <div id="footer">
  <div class="container">
    <ul>
      <li>
        <%= link_to_unless_current t(".about"), root_url(:subdomain => false) %>
      </li>
      <li><a href="https://www.facebook.com/rsvpo" target="_blank"><%= t ".blog" %></a></li>
    </ul>
    <p class="text-muted">&copy; 2014 RSVPO</p>
  </div>
</div> -->

<!--Bottom Section-->
<section id="bottom">
  <div class="container">
    <div class="row margin-40">
      <div class="col-md-10 col-md-offset-1 text-center">
        <p><i class="fa fa-phone"></i>  5697 9672  |  <a href="mailto:hello@rsvpo.me"><i class="fa fa-envelope-o"></i> hello@rsvpo.me</a></p>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <!--Social Icons-->          
        <ul class="social-icons">
          <li><a class="twitter" href="http://www.twitter.com/themearmada" target="_blank"><i class="fa fa-twitter fa-3x"></i></a></li>
          <li><a class="facebook" href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook fa-3x"></i></a></li>
          <li><a class="google" href="http://www.googleplus.com" target="_blank"><i class="fa fa-google-plus fa-3x"></i></a></li>
          <li><a class="instagram" href="http://www.instagram.com" target="_blank"><i class="fa fa-camera-retro fa-3x"></i></a></li>
          <li><a class="pinterest" href="http://www.pinterest.com" target="_blank"><i class="fa fa-pinterest fa-3x"></i></a></li>
        </ul>
      </div>
    </div>

  </div>
</section>

<script type="text/javascript">
  <!--

    $(document).ready(function() {

    var docHeight = $(window).height();
    var footerHeight = $('#bottom').height();
    var footerTop = $('#bottom').position().top + footerHeight;

    if (footerTop < docHeight) {
      $('#bottom').css('margin-top', 10 + (docHeight - footerTop) + 'px');
    }
  });

  // -->
</script>