<div class="panel panel-default">
  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%= title %>的主持    
      </h4>
    </div>
  </a>
  <div id="collapseThree" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="list-wrapper">
        <% hosts.each_with_index do |host, index| %>
          <span class="host-item" data-toggle="tooltip" data-placement="bottom" title="<h5><%= host.title %></h5><h7><%= host.job %></h7></br>">
            <%= render 'layouts/squareimage', square: host.photo, size: 50 %>
          </span>
        <% end %>  
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('.host-item').tooltip({html:true})
  });
</script>