<section id="page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12 title-white">
        <h2>
          <%= title %>
          <% if defined?(captured) %>
          <%= captured %>
          <% end %>
        </h2>         
      </div>
    </div>
  </div>
</section>